tr:hover{
    background-color:gray;
    cursor:pointer;
    }
.table-layout {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    font-family:"Trebuchet MS";
    margin: 0 auto 0;
}
.table-layout td, .table-layout th {
    border: 1px solid grey;
    padding: 5px 5px 0;
}
.table-layout td {
    text-align: left;
}
.selected {
    color: blue;
}

body {
    background-color:#447fad;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

div {
    padding-top: 10px;
}

button {
    text-align: center;
    align-self: center;
}

P {
    text-align: center;
}