<!DOCTYPE html>


<body>
<h1>Your Likes:</h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
<link rel = "stylesheet" href="/static/likes_style.css">
<form action="/" method="get">
    <button name="home" type="submit">Home</button>
</form>
<table id="dtable" class="display" style="width:100%">
    <thead>
    
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Duration</th>
        <th>Genre/Tag</th>
    </tr>
    </thead>
    <tbody>
        {% for row in likes %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
            </tr>
        {% endfor %} 
    </tbody>
</table>
<div>
    <button id='remove'>Remove selected likes</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    $('#dtable').DataTable();
    var table = $('#dtable').DataTable();
    $('#dtable tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );
    $('#remove').click( function () {
        $.ajax({
            type:'post',
            url:'/remove_like',
            contentType: 'application/json',
            data:JSON.stringify(table.rows('.selected').data().toArray()),
            success: function(response) {
                location.reload(true);
                $('#message').html(response);
            }
        });
    });
});
</script>


<form action="/get_likes" method="POST">
    <label for = "title">Song Title:</label>
    <input type = "text" id ="title" name="title">
    <label for = "artist">Artist:</label>
    <input type = "text" id="artist" name="artist">
    <label for="tag">Tag:</label>
    <input type="text" id="tag" name="tag">
    <div>
        <input type="submit" name = 'add' value = 'Add song to likes'>
        <input type="submit" name="tag" value = "Change tag for song">
    </div>
    
</form>
<p id="message">{{message}}</p>
 </body>
</html>